*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img{
    background-image: url(../project1-FlowerGallery/images/1d9b42a69b9f72972c7c6ead2f297427.jpg);
    background-position: center;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.img2{
    background-color: rgb(243, 243, 243);
    height: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    

}
.container{
    width: 90%;
    margin: auto;
    padding-top: 15px;
    font-size: 20px;
}
.list{
    float: right;
    margin-right:1%;
   
    
}
.list p{
    color: rgb(241, 239, 239);
    text-align: center;
    font-size: 25px;
    padding: 5px;
    width: 150px;
    height: 100%;
    background-color: rgb(160, 57, 74);;
    border-radius: 5px;
    
}
table td a,
.header h3 a
{
    text-decoration: none;
    color: rgb(83, 82, 82);
}
.header h3:hover,.header a:hover{
    background-color: rgb(71, 53, 56);
    color: #fff;
}
.sub ul li{
    list-style: none;
    
}
.list a{
    color: #fff;
    text-decoration: none;
}
.sub ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.sub{
    display: none;
}
.list:hover p:hover{
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}
.list:hover .sub{
    display: block;
    position: absolute;
    margin-left: 40px;
    border-radius: 5px;
    color: #fff;
}
.list:hover .sub ul{
    display: block;
    margin: 5px;
    background-color: rgb(73, 64, 64);  
    border-radius: 5px;
    padding: 5px;
} 

.list:hover .sub ul li{
   width: 150px;
   padding: 10px;
   border: 1px #fff;
   background: transparent;
   border-radius: 5px;
   text-align: center;
    
}
.list:hover .sub ul li:hover{
    background-color:rgb(160, 57, 74);
}
.list:hover .sub ul li a:hover{
    color: rgb(235, 235, 235);
}
.header{
    width: 100%;
    padding-top: 300px;
  
}
.header h1{
    font-size: 30px;
    line-height: 0.8em;
    font-weight: 100;
    color: rgb(172, 172, 172);
}
.header p{
    font-size: 180px;
    line-height: 0.8em;
}
.header h3{
    font-weight: 300;
    padding: 5px;
    margin-left: 45%;
    text-align: center;
    width: 120px;
    height: 100%;
    background-color: rgb(248, 185, 185);
    border-radius: 15px;
}
.home-icon img{
    float: right;
    width: 40px;
    height: 40px;
}

table img{
    width: 100%;
    height: 250px;
    margin: 5px;
}
table,td{
    margin: 5px;
    padding: 15px;
    text-align: center;
}
table td a:hover{
    color: black;
}
.flower-header p{
    font-size: 80px;
    color: darkred;
}
.flower-gallery table td{
    width: 25%;
    padding: 10px;
    margin: 0;
}